* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
    text-align: center;
    background-color: white;
}

nav ul {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    height: 60px;
    line-height: 60px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 11px;
    padding: 0 20px;
    cursor: pointer;
    display: block;
    transition: color .25s;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: red;
}

main {
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    background: transparent url('http://cs314217.vk.me/v314217766/64a5/F52F7nEogpI.jpg') no-repeat center center;
    box-shadow: inset 0 0 0 10px white;
    transition: all 1s;
}

main:not(:hover) {
    /*-webkit-filter: grayscale(100%);*/
}

main h1 {
    color: white;
    font-size: 12px;
    text-align: center;
    letter-spacing: 6px;
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    font-weight: bold;
}

main h1 span {
    color: black;
    text-shadow: none;
    font-weight: normal;
}
