<ul class="navigation">

    <li class="nav-item">
        <i class="fa fa-home"></i>
        Home
    </li>

    <li class="nav-item active">
        <i class="fa fa-pencil-square-o"></i>
        Blog
    </li>

    <li class="nav-item">
        <i class="fa fa-picture-o"></i>
        Portfolio

        <ul class="sub-navigation">
            <li>Nature/Eco</li>
            <li>World</li>
            <li>Commercial</li>
        </ul>
    </li>

    <li class="nav-item">
        <i class="fa fa-heartbeat"></i>
        About
    </li>

    <li class="nav-item">
        <i class="fa fa-envelope"></i>
        Contact
    </li>

</ul>