<div class="content about">
    <section>
        <h1>About Me</h1>
        <p>The temperature inside this apple pie is over one thousand degrees. If I squeeze it, a jet of molten bramley apple will squirt out. Could go your way; could go mine. Either way, one of us is going down.</p>
        <p>Quick tip for yourself: if you're ever doing an after-dinner speech, you say "My Lords, Ladies and Gentlemen, sorry I'm late, I just popped to the toilet. And while I was there, I saw some graffiti and it said "I used to be indecisive, but now I'm not so sure"". Straight away you've got them by the jaffas.</p>
    </section>
</div>