$height: 50px;
$mobile-width: 600px;
$background-blur: 20px;

ul.navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: $height;
    line-height: $height;
    padding: 0 10px;
    margin: 10px 0 0 5px;

    @media (max-width: $mobile-width) {
        margin: 30px 0 0 20px;
    }

    &:hover li {
        opacity: .5;
    }

    &:before {
        content: "";
        position: absolute;
        height: $height + 20;
        filter: blur($background-blur);
        width: 110%;
        top: -$background-blur;
        left: -$background-blur;
        background-color: rgba(0, 0, 0, .45);
    }

    li.nav-item {
        transition: all .5s;
        display: inline-block;
        color: white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
        padding: 0 10px;
        font-family: "Amatic SC", sans-serif;
        font-size: 20px;
        cursor: pointer;
        position: relative;

        @media (max-width: $mobile-width) {
            display: block;
            padding: 0;
            line-height: 40px;
        }

        i {
            margin-right: 2px;
        }

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }

        &:hover ul.sub-navigation {
            opacity: 1;
            pointer-events: all;
            transition: all .2s;

            @media (max-width: $mobile-width) {
                display: none;
            }

            li {
                opacity: 1;
                font-size: 15px;
                line-height: 20px;
            }
        }

        ul.sub-navigation {
            padding: 0;
            position: absolute;
            top: 40px;
            left: 38px;
            opacity: 0;
            pointer-events: none;

            li {
                transition: all .2s;
                list-style-type: none;
                font-size: 11px;
                margin-bottom: 5px;
                padding: 0;
                line-height: 0px;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}